In [268]:
import pandas as pd

In [269]:
df = pd.read_csv('./AccidentesAviones.csv')
print(df.shape)
print(df.isnull().sum())

(5008, 18)
Unnamed: 0                0
fecha                     0
HORA declarada            0
Ruta                      0
OperadOR                  0
flight_no                 0
route                     0
ac_type                   0
registration              0
cn_ln                     0
all_aboard                0
PASAJEROS A BORDO         0
crew_aboard               0
cantidad de fallecidos    0
passenger_fatalities      0
crew_fatalities           0
ground                    0
summary                   0
dtype: int64

In [270]:
df.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [271]:
df.columns = ['index', 'fecha', 'hora_declarada', 'lugar_accidente', 'operador', 'vuelo_nro', 'ruta', 'tipo_avion', 'registro', 'cn_ln', 'total_a_bordo', 'pasajeros_a_bordo', 'tripulacion_a_bordo', 'cantidad_de_fallecidos',
           'pasajeros_fallecidos', 'tripulacion_fallecidos', 'fallecidos_en_tierra', 'resumen']

df.head(3)

,index,fecha,hora_declarada,lugar_accidente,operador,vuelo_nro,ruta,tipo_avion,registro,cn_ln,total_a_bordo,pasajeros_a_bordo,tripulacion_a_bordo,cantidad_de_fallecidos,pasajeros_fallecidos,tripulacion_fallecidos,fallecidos_en_tierra,resumen
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

cambiando el formato literal de fecha a datetime

In [272]:
df['fecha'] = pd.to_datetime(df['fecha'])
df['fecha'].head()

0   1908-09-17
1   1909-09-07
2   1912-07-12
3   1913-08-06
4   1913-09-09
Name: fecha, dtype: datetime64[ns]

In [273]:
# df['aux_hora'] = df['hora_declarada'].apply(lambda x: len(x))
# df['aux_hora'].value_counts()

In [274]:
def normalize_hour(value):
    value = value.replace('?', '00:00')
    value = value.replace('c ', '')
    value = value.replace('Z', '')
    value = value.replace('c:', '')
    value = value.replace(' ', '')
    value = value.replace(':', '')
    value = value.replace(';', '')
    
    if ':' not in value:
        return value
    elif value[0] == ':':
        return f'00{value}'
    elif value[-1] == ':':
        return f'{value}00'
    elif len(value) == 4:
        return '0' + value
    else:
        return value
    
df['hora_declarada'] = df['hora_declarada'].apply(lambda x: normalize_hour(x))
df['hora_declarada'] = pd.to_datetime(df['hora_declarada'], format='%H%M').dt.strftime('%H:%M')

df['hora_declarada'].head()

0    17:18
1    00:00
2    06:30
3    00:00
4    18:30
Name: hora_declarada, dtype: object

In [275]:
df['anio'] = df['fecha'].dt.year

In [276]:
df['mes'] = df['fecha'].dt.month

In [277]:
df['dia'] = df['fecha'].dt.day

In [278]:
lista_paises = df['lugar_accidente'].tolist()
mares_oceanos = []
for i in lista_paises:
    if 'over ' in i.lower():
        mares_oceanos.append(i)
        
lista_mares = set(mares_oceanos)
lista_mares

{'Over North Carolina',
 'Over the Andaman Sea',
 'Over the Atlantic Ocean',
 'Over the English Channel',
 'Over the Gulf of Finland',
 'Over the Mediterranean',
 'Over the Mediterranean Sea',
 'Over the North Atlantic',
 'Over the North Pacific Ocean',
 'Over the North Sea',
 'Over the Pacific Ocean',
 'Over the Pearl River, China',
 'Over the Persian Gulf, near Bandar Abbas, Iran'}

In [279]:
df2 = pd.read_csv('./cities.csv')

list1 = df2['country_name'].str.lower().tolist()
list2 = df2['state_name'].str.lower().tolist()
list3 = df2['name'].str.lower().tolist()

In [280]:
print(len(list1))
print(len(list2))
print(len(list3))

150890
150890
150890

In [281]:
def get_country(value):
    new_value = value.split(', ')
    try:
        index = list1.index(new_value[-1].lower())
    except:
        try:
            index = list2.index(new_value[-1].lower())
        except:
            try:
                index = list3.index(new_value[-1].lower())
            except:
                return 'no encontrado'
    return list1[index].title()
    
get_country('Off West Hartlepool, England')

'United Kingdom'

In [282]:
df = df[df['lugar_accidente']!='?']

In [283]:
df['lugar_accidente'] = df['lugar_accidente'].str.replace('. United Kingdom', ', United Kingdom')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('Bulgeria', 'Bulgaria')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('Unied Kingdom', 'United Kingdom')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('South of Gibraltar', 'Gibraltar')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('NY', 'New York')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('WY', 'Wyoming')
df['lugar_accidente'] = df['lugar_accidente'].str.replace(',Brazil', ', Brazil')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('  ', ' ')

C:\Users\KhorneFlakes\AppData\Local\Temp\ipykernel_6908\1079818205.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['lugar_accidente'] = df['lugar_accidente'].str.replace('. United Kingdom', ', United Kingdom')

In [284]:
df['pais'] = df['lugar_accidente'].apply(lambda x: get_country(x))

In [285]:
import pycountry_convert as pc

country_code = pc.country_name_to_country_alpha2("China", cn_name_format="default")
print(country_code)

def get_code(value):
    try:
        code = pc.country_name_to_country_alpha3(value, cn_name_format="default")
        return code
    except:
        return 'no code'

df['code'] = df['pais'].apply(lambda x: get_code(x))

CN

In [286]:
def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        return 'no continent'

df['continent'] = df['pais'].apply(lambda x: country_to_continent(x))

In [287]:
df.code.value_counts()

USA        1018
no code     602
RUS         256
BRA         175
COL         152
           ...
LCA           1
LVA           1
SVN           1
BTN           1
FSM           1
Name: code, Length: 159, dtype: int64

In [288]:
df['pais'].value_counts()

United States    1018
no encontrado     600
Russia            256
Brazil            175
Colombia          152
                 ...
Saint Lucia         1
Latvia              1
Bhutan              1
Oman                1
Micronesia          1
Name: pais, Length: 160, dtype: int64

In [289]:
for i in df.columns:
    print(i + ': ' + str(df[i][df[i]=='?'].count()))

index: 0
fecha: 0
hora_declarada: 0
lugar_accidente: 0
operador: 10
vuelo_nro: 3677
ruta: 758
tipo_avion: 13
registro: 269
cn_ln: 663
total_a_bordo: 17
pasajeros_a_bordo: 221
tripulacion_a_bordo: 219
cantidad_de_fallecidos: 8
pasajeros_fallecidos: 235
tripulacion_fallecidos: 235
fallecidos_en_tierra: 43
resumen: 59
anio: 0
mes: 0
dia: 0
pais: 0
code: 0
continent: 0

In [290]:
df = df.replace('?', 0)

In [291]:
df['total_a_bordo'] = pd.to_numeric(df['total_a_bordo'])
df['pasajeros_a_bordo'] = pd.to_numeric(df['pasajeros_a_bordo'])
df['tripulacion_a_bordo'] = pd.to_numeric(df['tripulacion_a_bordo'])
df['cantidad_de_fallecidos'] = pd.to_numeric(df['cantidad_de_fallecidos'])
df['pasajeros_fallecidos'] = pd.to_numeric(df['pasajeros_fallecidos'])
df['tripulacion_fallecidos'] = pd.to_numeric(df['tripulacion_fallecidos'])
df['fallecidos_en_tierra'] = pd.to_numeric(df['fallecidos_en_tierra'])

In [292]:
df['total_a_bordo'] = df.apply(lambda x: 
    (x['pasajeros_a_bordo'] + x['tripulacion_a_bordo']) if (x['total_a_bordo']==0) else x['total_a_bordo'], axis=1)

In [293]:
df['tripulacion_a_bordo'] = df.apply(lambda x: 
    (x['total_a_bordo'] - x['pasajeros_a_bordo']) if (x['tripulacion_a_bordo']==0) else x['tripulacion_a_bordo'], axis=1)

In [294]:
df['pasajeros_a_bordo'] = df.apply(lambda x: 
    (x['total_a_bordo'] - x['tripulacion_a_bordo']) if (x['pasajeros_a_bordo']==0) else x['pasajeros_a_bordo'], axis=1)

In [295]:
df['cantidad_de_fallecidos'] = df.apply(lambda x: 
    (x['pasajeros_fallecidos'] + x['tripulacion_fallecidos']) if (x['cantidad_de_fallecidos']==0) else (x['cantidad_de_fallecidos']), axis=1)

In [296]:
df['cantidad_de_fallecidos'] = df.apply(lambda x: 
    (x['pasajeros_fallecidos'] + x['tripulacion_fallecidos']) if (x['cantidad_de_fallecidos']==0) else (x['cantidad_de_fallecidos']), axis=1)

In [297]:
df['cantidad_de_fallecidos'] = df.apply(lambda x: 
    (x['pasajeros_fallecidos'] + x['tripulacion_fallecidos']) if (x['cantidad_de_fallecidos']==0) else (x['cantidad_de_fallecidos']), axis=1)

In [298]:
df['total_a_bordo'][df['total_a_bordo']==0].value_counts()
df['pasajeros_a_bordo'][df['pasajeros_a_bordo']==0].value_counts()

0    1085
Name: pasajeros_a_bordo, dtype: int64

In [299]:
for i in df.columns:
    print(i + ': ' + str(df[i][df[i]==0].count()))

index: 1
fecha: 0
hora_declarada: 0
lugar_accidente: 0
operador: 10
vuelo_nro: 3677
ruta: 758
tipo_avion: 13
registro: 269
cn_ln: 663
total_a_bordo: 19
pasajeros_a_bordo: 1085
tripulacion_a_bordo: 22
cantidad_de_fallecidos: 80
pasajeros_fallecidos: 1273
tripulacion_fallecidos: 635
fallecidos_en_tierra: 4755
resumen: 59
anio: 0
mes: 0
dia: 0
pais: 0
code: 0
continent: 0

In [300]:
df.dtypes

index                              int64
fecha                     datetime64[ns]
hora_declarada                    object
lugar_accidente                   object
operador                          object
vuelo_nro                         object
ruta                              object
tipo_avion                        object
registro                          object
cn_ln                             object
total_a_bordo                      int64
pasajeros_a_bordo                  int64
tripulacion_a_bordo                int64
cantidad_de_fallecidos             int64
pasajeros_fallecidos               int64
tripulacion_fallecidos             int64
fallecidos_en_tierra               int64
resumen                           object
anio                               int64
mes                                int64
dia                                int64
pais                              object
code                              object
continent                         object
dtype: object

In [310]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///data_viz.db', echo=True)

sqlite_connection = engine.connect()

df.to_sql('accidentes', sqlite_connection, index=False, if_exists='replace')

sqlite_connection.close()

2022-11-09 19:29:38,440 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("accidentes")
2022-11-09 19:29:38,441 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,443 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("accidentes")
2022-11-09 19:29:38,444 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,446 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-11-09 19:29:38,446 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,448 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("accidentes")
2022-11-09 19:29:38,449 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,454 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-11-09 19:29:38,454 INFO sqlalchemy.engine.Engine [raw sql] ('accidentes',)
2022-11-09 19:29:38,456 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("accidentes")
2022-11-09 19:29:38,457 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,458 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("accidentes")
2022-11-09 19:29:38,459 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,460 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-11-09 19:29:38,460 INFO sqlalchemy.engine.Engine [raw sql] ('accidentes',)
2022-11-09 19:29:38,462 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("accidentes")
2022-11-09 19:29:38,462 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,464 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("accidentes")
2022-11-09 19:29:38,464 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,465 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("accidentes")
2022-11-09 19:29:38,466 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,467 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("accidentes")
2022-11-09 19:29:38,469 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-09 19:29:38,470 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-11-09 19:29:38,471 INFO sqlalchemy.engine.Engine [raw sql] ('accidentes',)
2022-11-09 19:29:38,473 INFO sqlalchemy.engine.Engine
DROP TABLE accidentes
2022-11-09 19:29:38,474 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2022-11-09 19:29:38,588 INFO sqlalchemy.engine.Engine COMMIT
2022-11-09 19:29:38,595 INFO sqlalchemy.engine.Engine
CREATE TABLE accidentes (
	"index" BIGINT,
	fecha DATETIME,
	hora_declarada TEXT,
	lugar_accidente TEXT,
	operador TEXT,
	vuelo_nro TEXT,
	ruta TEXT,
	tipo_avion TEXT,
	registro TEXT,
	cn_ln TEXT,
	total_a_bordo BIGINT,
	pasajeros_a_bordo BIGINT,
	tripulacion_a_bordo BIGINT,
	cantidad_de_fallecidos BIGINT,
	pasajeros_fallecidos BIGINT,
	tripulacion_fallecidos BIGINT,
	fallecidos_en_tierra BIGINT,
	resumen TEXT,
	anio BIGINT,
	mes BIGINT,
	dia BIGINT,
	pais TEXT,
	code TEXT,
	continent TEXT
)


2022-11-09 19:29:38,596 INFO sqlalchemy.engine.Engine [no key 0.00139s] ()
2022-11-09 19:29:38,680 INFO sqlalchemy.engine.Engine COMMIT
2022-11-09 19:29:38,925 INFO sqlalchemy.engine.Engine INSERT INTO accidentes ("index", fecha, hora_declarada, lugar_accidente, operador, vuelo_nro, ruta, tipo_avion, registro, cn_ln, total_a_bordo, pasajeros_a_bordo, tripulacion_a_bordo, cantidad_de_fallecidos, pasajeros_fallecidos, tripulacion_fallecidos, fallecidos_en_tierra, resumen, anio, mes, dia, pais, code, continent) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-11-09 19:29:38,926 INFO sqlalchemy.engine.Engine [generated in 0.21448s] ((0, '1908-09-17 00:00:00.000000', '17:18', 'Fort Myer, Virginia', 'Military - U.S. Army', 0, 'Demonstration', 'Wright Flyer III', 0, '1', 2, 1, 1, 1, 1, 0, 0, 'During a demonstration flight, a U.S. Army flyer flown by Orville Wright nose-dived into the ground from a height of approximately 75 feet, killing L ... (214 characters truncated) ...  of control of the aircraft.  Orville Wright suffered broken ribs, pelvis and a leg.  Selfridge suffered a crushed skull and died a short time later.', 1908, 9, 17, 'United States', 'USA', 'North America'), (1, '1909-09-07 00:00:00.000000', '00:00', 'Juvisy-sur-Orge, France', 0, 0, 'Air show', 'Wright Byplane', 'SC1', 0, 1, 0, 1, 1, 0, 0, 0, 'Eugene Lefebvre was the first pilot to ever be killed in an air accident, after his controls jambed while flying in an air show.', 1909, 9, 7, 'France', 'FRA', 'Europe'), (2, '1912-07-12 00:00:00.000000', '06:30', 'Atlantic City, New Jersey', 'Military - U.S. Navy', 0, 'Test flight', 'Dirigible', 0, 0, 5, 0, 5, 5, 0, 5, 0, 'First U.S. dirigible Akron exploded just offshore at an altitude of 1,000 ft. during a test flight.', 1912, 7, 12, 'United States', 'USA', 'North America'), (3, '1913-08-06 00:00:00.000000', '00:00', 'Victoria, British Columbia, Canada', 'Private', 0, 0, 'Curtiss seaplane', 0, 0, 1, 0, 1, 1, 0, 1, 0, 'The first fatal airplane accident in Canada occurred when American barnstormer, John M. Bryant, California aviator was killed.', 1913, 8, 6, 'Canada', 'CAN', 'North America'), (4, '1913-09-09 00:00:00.000000', '18:30', 'Over the North Sea', 'Military - German Navy', 0, 0, 'Zeppelin L-1 (airship)', 0, 0, 20, 0, 20, 14, 0, 0, 0, 'The airship flew into a thunderstorm and encountered a severe downdraft crashing 20 miles north of Helgoland Island into the sea. The ship broke in two and the control car immediately sank drowning its occupants.', 1913, 9, 9, 'no encontrado', 'no code', 'no continent'), (5, '1913-10-17 00:00:00.000000', '10:30', 'Near Johannisthal, Germany', 'Military - German Navy', 0, 0, 'Zeppelin L-2 (airship)', 0, 0, 28, 0, 28, 28, 0, 0, 0, "Hydrogen gas which was being vented was sucked into the forward engine and ignited causing the airship to explode and burn at 3,000 ft..German Navy's Zeppelin airships L-4 and L-5 were blown out to sea in February 1915, never to be seen again.", 1913, 10, 17, 'Germany', 'DEU', 'Europe'), (6, '1915-03-05 00:00:00.000000', '01:00', 'Tienen, Belgium', 'Military - German Navy', 0, 0, 'Zeppelin L-8 (airship)', 0, 0, 41, 0, 41, 17, 0, 17, 0, 'Crashed into trees while attempting to land after being shot down by British and French aircraft.', 1915, 3, 5, 'Belgium', 'BEL', 'Europe'), (7, '1915-09-03 00:00:00.000000', '15:20', 'Off Cuxhaven, Germany', 'Military - German Navy', 0, 0, 'Zeppelin L-10 (airship)', 0, 0, 19, 0, 19, 19, 0, 0, 0, 'Exploded and burned near Neuwerk Island,  when hydrogen gas, being vented, was ignited by lightning.', 1915, 9, 3, 'Germany', 'DEU', 'Europe')  ... displaying 10 of 5003 total bound parameter sets ...  (5006, '2021-07-04 00:00:00.000000', '11:30', 'Patikul, Sulu, Philippines', 'Military - Philippine Air Force', 0, 'Cagayan de Oro-Lumbia - Jolo', 'Lockheed C-130H Hercules', '5125', '5125', 96, 88, 8, 50, 0, 0, 3, 'While attempting to land at Jolo Airport, the military transport overran the runway, struck two houses and burst into flames coming to rest on a coconut plantation.', 2021, 7, 4, 'Philippines', 'PHL', 'Asia'), (5007, '2021-07-06 00:00:00.000000', '15:00', 'Palana, Russia', 'Kamchatka Aviation Enterprise', '251', 'Petropavlovsk - Palana', 'Antonov An 26B-100', 'RA-26085', '12310', 28, 22, 6, 28, 22, 6, 0, 'The passenger plane crashed into the top of a cliff while attempting to land in inclement weather. The debris fell into the sea. Contact was lost with the plane 10 minutes before it was to land.', 2021, 7, 6, 'Russia', 'RUS', 'Europe'))
2022-11-09 19:29:39,008 INFO sqlalchemy.engine.Engine COMMIT