In [454]:
import pandas as pd

In [455]:
df = pd.read_csv('./AccidentesAviones.csv')
print(df.shape)
print(df.isnull().sum())

(5008, 18)
Unnamed: 0                0
fecha                     0
HORA declarada            0
Ruta                      0
OperadOR                  0
flight_no                 0
route                     0
ac_type                   0
registration              0
cn_ln                     0
all_aboard                0
PASAJEROS A BORDO         0
crew_aboard               0
cantidad de fallecidos    0
passenger_fatalities      0
crew_fatalities           0
ground                    0
summary                   0
dtype: int64

In [456]:
df.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [457]:
df.columns = ['index', 'fecha', 'hora_declarada', 'lugar_accidente', 'operador', 'vuelo_nro', 'ruta', 'tipo_avion', 'registro', 'cn_ln', 'total_a_bordo', 'pasajeros_a_bordo', 'tripulacion_a_bordo', 'cantidad_de_fallecidos',
           'pasajeros_fallecidos', 'tripulacion_fallecidos', 'fallecidos_en_tierra', 'resumen']

df.head(3)

,index,fecha,hora_declarada,lugar_accidente,operador,vuelo_nro,ruta,tipo_avion,registro,cn_ln,total_a_bordo,pasajeros_a_bordo,tripulacion_a_bordo,cantidad_de_fallecidos,pasajeros_fallecidos,tripulacion_fallecidos,fallecidos_en_tierra,resumen
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

cambiando el formato literal de fecha a datetime

In [458]:
df['fecha'] = pd.to_datetime(df['fecha'])
df['fecha'].head()

0   1908-09-17
1   1909-09-07
2   1912-07-12
3   1913-08-06
4   1913-09-09
Name: fecha, dtype: datetime64[ns]

In [459]:
# df['aux_hora'] = df['hora_declarada'].apply(lambda x: len(x))
# df['aux_hora'].value_counts()

In [460]:
def normalize_hour(value):
    value = value.replace('?', '00:00')
    value = value.replace('c ', '')
    value = value.replace('Z', '')
    value = value.replace('c:', '')
    value = value.replace(' ', '')
    value = value.replace(':', '')
    value = value.replace(';', '')
    
    if ':' not in value:
        return value
    elif value[0] == ':':
        return f'00{value}'
    elif value[-1] == ':':
        return f'{value}00'
    elif len(value) == 4:
        return '0' + value
    else:
        return value
    
df['hora_declarada'] = df['hora_declarada'].apply(lambda x: normalize_hour(x))

In [461]:
df['anio'] = df['fecha'].dt.year

In [462]:
df['mes'] = df['fecha'].dt.month

In [463]:
df['dia'] = df['fecha'].dt.day

In [464]:
# df['hora_declarada'] = pd.to_datetime(df['hora_declarada'], format='%H%M').dt.time
df['hora_declarada'] = pd.to_datetime(df['hora_declarada'], format='%H%M').dt.strftime('%H:%M')

df['hora_declarada'].head()

0    17:18
1    00:00
2    06:30
3    00:00
4    18:30
Name: hora_declarada, dtype: object

In [465]:
lista_paises = df['lugar_accidente'].tolist()
mares_oceanos = []
for i in lista_paises:
    if 'over ' in i.lower():
        mares_oceanos.append(i)
        
lista_mares = set(mares_oceanos)
lista_mares

{'Over North Carolina',
 'Over the Andaman Sea',
 'Over the Atlantic Ocean',
 'Over the English Channel',
 'Over the Gulf of Finland',
 'Over the Mediterranean',
 'Over the Mediterranean Sea',
 'Over the North Atlantic',
 'Over the North Pacific Ocean',
 'Over the North Sea',
 'Over the Pacific Ocean',
 'Over the Pearl River, China',
 'Over the Persian Gulf, near Bandar Abbas, Iran'}

In [466]:
df['lugar_accidente']

0                      Fort Myer, Virginia
1                  Juvisy-sur-Orge, France
2                Atlantic City, New Jersey
3       Victoria, British Columbia, Canada
4                       Over the North Sea
                       ...
5003                    Near Butte, Alaska
5004                  Near Kaduna, Nigeria
5005            Near Pyin Oo Lwin, Myanmar
5006            Patikul, Sulu, Philippines
5007                        Palana, Russia
Name: lugar_accidente, Length: 5008, dtype: object

In [467]:
df2 = pd.read_csv('./cities.csv')

list1 = df2['country_name'].str.lower().tolist()
list2 = df2['state_name'].str.lower().tolist()
list3 = df2['name'].str.lower().tolist()

In [468]:
print(len(list1))
print(len(list2))
print(len(list3))

150890
150890
150890

In [469]:
def get_country(value):
    new_value = value.split(', ')
    try:
        index = list1.index(new_value[-1].lower())
    except:
        try:
            index = list2.index(new_value[-1].lower())
        except:
            try:
                index = list3.index(new_value[-1].lower())
            except:
                return 'no encontrado'
    return list1[index].title()
    
get_country('Off West Hartlepool, England')

'United Kingdom'

In [470]:
df = df[df['lugar_accidente']!='?']

In [471]:
df['lugar_accidente'] = df['lugar_accidente'].str.replace('. United Kingdom', ', United Kingdom')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('Bulgeria', 'Bulgaria')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('Unied Kingdom', 'United Kingdom')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('South of Gibraltar', 'Gibraltar')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('NY', 'New York')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('WY', 'Wyoming')
df['lugar_accidente'] = df['lugar_accidente'].str.replace(',Brazil', ', Brazil')
df['lugar_accidente'] = df['lugar_accidente'].str.replace('  ', ' ')

C:\Users\KhorneFlakes\AppData\Local\Temp\ipykernel_5164\1079818205.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['lugar_accidente'] = df['lugar_accidente'].str.replace('. United Kingdom', ', United Kingdom')

In [472]:
df['pais'] = df['lugar_accidente'].apply(lambda x: get_country(x))

In [473]:
df['pais'].value_counts()

United States    1018
no encontrado     600
Russia            256
Brazil            175
Colombia          152
                 ...
Saint Lucia         1
Latvia              1
Bhutan              1
Oman                1
Micronesia          1
Name: pais, Length: 160, dtype: int64

In [474]:
for i in df.columns:
    print(i + ': ' + str(df[i][df[i]=='?'].count()))

index: 0
fecha: 0
hora_declarada: 0
lugar_accidente: 0
operador: 10
vuelo_nro: 3677
ruta: 758
tipo_avion: 13
registro: 269
cn_ln: 663
total_a_bordo: 17
pasajeros_a_bordo: 221
tripulacion_a_bordo: 219
cantidad_de_fallecidos: 8
pasajeros_fallecidos: 235
tripulacion_fallecidos: 235
fallecidos_en_tierra: 43
resumen: 59
anio: 0
mes: 0
dia: 0
pais: 0

In [475]:
df = df.replace('?', 0)

In [476]:
df['total_a_bordo'] = pd.to_numeric(df['total_a_bordo'])
df['pasajeros_a_bordo'] = pd.to_numeric(df['pasajeros_a_bordo'])
df['tripulacion_a_bordo'] = pd.to_numeric(df['tripulacion_a_bordo'])
df['cantidad_de_fallecidos'] = pd.to_numeric(df['cantidad_de_fallecidos'])
df['pasajeros_fallecidos'] = pd.to_numeric(df['pasajeros_fallecidos'])
df['tripulacion_fallecidos'] = pd.to_numeric(df['tripulacion_fallecidos'])
df['fallecidos_en_tierra'] = pd.to_numeric(df['fallecidos_en_tierra'])

In [ ]:
# buscar como usar valores de otra columna de pandas con funciones lambda if
# df['total_a_bordo'] = df['total_a_bordo'].apply(lambda x: if x==0)

In [477]:
for i in df.columns:
    print(i + ': ' + str(df[i][df[i]=='?'].count()))

index: 0
fecha: 0
hora_declarada: 0
lugar_accidente: 0
operador: 0
vuelo_nro: 0
ruta: 0
tipo_avion: 0
registro: 0
cn_ln: 0
total_a_bordo: 0
pasajeros_a_bordo: 0
tripulacion_a_bordo: 0
cantidad_de_fallecidos: 0
pasajeros_fallecidos: 0
tripulacion_fallecidos: 0
fallecidos_en_tierra: 0
resumen: 0
anio: 0
mes: 0
dia: 0
pais: 0

In [478]:
df.dtypes

index                              int64
fecha                     datetime64[ns]
hora_declarada                    object
lugar_accidente                   object
operador                          object
vuelo_nro                         object
ruta                              object
tipo_avion                        object
registro                          object
cn_ln                             object
total_a_bordo                      int64
pasajeros_a_bordo                  int64
tripulacion_a_bordo                int64
cantidad_de_fallecidos             int64
pasajeros_fallecidos               int64
tripulacion_fallecidos             int64
fallecidos_en_tierra               int64
resumen                           object
anio                               int64
mes                                int64
dia                                int64
pais                              object
dtype: object

In [479]:
df['registro'].value_counts()

0             269
49              3
SU-AFK          2
2               2
19              2
             ...
CCCP-61663      1
EC-ANR          1
N1301N          1
CS-THB          1
RA-26085        1
Name: registro, Length: 4699, dtype: int64